.header {
    width: 100%;
    height: 60px;
    background-color: #337ab7;
}

.header .title {
    font-size: 18px;
    font-weight: 100;
    line-height: 60px;
    color: #fff;
    margin-left: 15px;
    margin-top: -10px;
}

.title {
    margin-right: 20px;
}

.title a {
    color: #fff;
    margin-right: 20px;
}

.title a:hover {
    color: #fff;
    text-decoration: none;
}

/* 主体内容 */

.main_content {
    margin-top: 20px;
}

.right-panel {
    margin-top: 10px;
}

.right-panel a {
    text-decoration: none;
}


.add_article {
    margin-top: 10px;
}

.tr a:hover {
    text-decoration: none;
}

.edit_article {
    font-size: 18px;
    padding-left: 18px;
}

.delete_article {
    font-size: 18px;
    padding-left: 18px;
}

