{% extends 'base.html' %}

{% block title %}
    <title>{{ request.user.username }}的详情页</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/blog/css/article_detail.css">
{% endblock css %}

{% block content %}
    {% csrf_token %}
    <div class="article_info">
        <h3 class="text-center title">{{ article_obj.title }}</h3>
        <div class="text_content">
            {{ article_obj.content | safe }}
        </div>

        <!-- 点赞 -->
        <div class="clearfix">
            <div id="div_digg">
                <div class="diggit action">
                    <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
                </div>
                <div class="buryit action">
                    <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
                </div>
                <div class="clear"></div>
                <div class="diggword" id="digg_tips"></div>
            </div>
        </div>
    </div>

    <!-- 评论 -->
    <div class="comments">
        <ul class="comment_list list-group">
            {% for comment in comment_list %}
                <li class="list-group-item">
                    <div class="comment_info">
                        <a href="">#{{ forloop.counter }}楼 &nbsp;&nbsp;</a>
                        <span>{{ comment.created_time | date:'Y-m-d H:i' }} </span> &nbsp;&nbsp;
                        <a href=""><span>{{ comment.user.username }}</span></a>
                        <a class="pull-right reply_btn" username="{{ comment.user.username }}">回复</a>
                    </div>
                    <div class="show_comment_content">
                        <p>{{ comment.content }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p>评论列表</p>
        <p>发表评论</p>
        <p>
            昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                      value="{{ request.user.username }}">
        </p>
        <p>评论内容:</p>
        <p>
            <textarea name="" id="comment_content" cols="60" rows="10"></textarea>
        </p>

        <button class="btn btn-default" id="comment_btn">提交评论</button>
    </div>

    <script>
        // 点赞请求
        $('#div_digg .action').click(function () {
            let is_up = $(this).hasClass('diggit');

            $obj = $(this).children('span');

            $.ajax({
                url: '/digg/',
                type: 'post',
                data: {
                    'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']").val(),
                    'is_up': is_up,
                    'article_id': "{{ article_obj.pk }}",
                },
                success: function (data) {
                    if (data.status) {
                        let val = parseInt($obj.text());
                        $obj.text(val + 1);
                    } else {
                        let val = data.handled ? '您已经推荐过！' : '您已经反对过！';
                        $('#digg_tips').html(val);

                        setTimeout(function () {
                            $('#digg_tips').html("");
                        }, 1000)
                    }
                }
            })
        });

        // 评论请求
        $('#comment_btn').click(function () {
            let pid = '';
            let content = $('#comment_content').val();
            $.ajax({
                url: '/comment/',
                type: 'post',
                data: {
                    'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']").val(),
                    'article_id': "{{ article_obj.pk }}",
                    'content': content,
                    'pid': pid,
                },
                success: function (data) {
                    let created_time = data.created_time;
                    let username = data.username;
                    let content = data.content;

                    let latest_comment = `
                    <li class="list-group-item">
                    <div>
                        <span>${created_time}</span> &nbsp;&nbsp;
                        <a href=""><span>${username}</span></a>
                    </div>
                    <div class="show_comment_content">
                        <p>${content}</p>
                    </div>
                    </li>`;
                    $('ul.comment_list').append(latest_comment);

                    // 清空评论框
                    $('#comment_content').val('');
                }
            })
        });

        // 回复按钮事件
        $('.reply_btn').click(function () {
            $('#comment_content').focus();
            let comment_user = '@' + $(this).attr('username') + "\n";
            $('#comment_content').val(comment_user);
        })

    </script>
{% endblock content %}