<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <link rel="stylesheet" href="/static/blog/css/register.css">
</head>
<body>
<h3>注册页面</h3>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <label for="id_avatar">头像
                        <img width="60" height="60" id="avatar_img" src="/static/blog/img/default_avatar.jpg">
                    </label>

                    <input type="file" name="avatar" id="id_avatar" class="hidden">
                </div>

                <input type="button" class="btn btn-info" value="提交">
            </form>
        </div>
    </div>
</div>

<script src="/static/blog/js/jquery-3.3.1.js"></script>
<script>
    // 头像预览功能
    $('#id_avatar').change(function () {   // 图片发生了变化，所以要用change事件
        // 获取用户选中的文件对象
        let file_obj = $(this)[0].files[0];

        // 获取文件对象的路径
        let reader = new FileReader();  // 等同于在python里拿到了实例对象
        reader.readAsDataURL(file_obj);

        reader.onload = function () {
            // 修改img的src属性，src = 文件对象的路径
            $("#avatar_img").attr('src', reader.result);  // 这个是异步，速度比reader读取路径要快，
                                                          // 所以要等reader加载完后在执行。
        }


    })
</script>
</body>
</html>