<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <link rel="stylesheet" href="/static/blog/css/register.css">
</head>
<body>
<h3>注册页面</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="popup">
                <form id="fm">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <span class="error-info pull-right"></span>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <label for="id_avatar">头像
                            <img width="60" height="60" id="avatar_img" src="/static/blog/img/default_avatar.jpg">
                        </label>

                        <input type="file" name="avatar" id="id_avatar" class="hidden">
                    </div>

                    <input type="button" id="popup-submit" class="btn btn-info reg_btn" value="提交">
                </form>
                <div id="popup-captcha"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/blog/js/jquery-3.3.1.js"></script>
<script src="/static/blog/js/gt.js"></script>
<script src="/static/blog/js/register.js"></script>
</body>
</html>